body {
   
    background-color: rgb(226, 71, 97);
    color: white;
    font-family: "Bai Jamjuree", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 300px;
    margin: 0;
}

button{
    background-color: rgb(190, 19, 48);
    color: rgb(254, 253, 255);
    font-family: "Bai jamjuree" , sans-serif;
}

.passo.ativo{
    display: none;
}

.passo.ativo{
    display: block;
}